body
{
	margin: 0px;
	padding: 0px;
	font-family: "微软雅黑";
	background-color: #282828;
}

a:link,a:visited,a:active
{
	text-decoration: none;
	color: white;
}

input: focus,textarea: focus
{
	outline: none;
}

.upall_div
{
	top: 0;
	z-index: 1;
	width: 100%;
	margin: auto;
	height: 3vw;
	position: fixed;
	background-color: #282828;
	box-shadow: 0vw 0.3vw 0.2vw #161616;
}

.icon_div
{
	height: 3vw;
	width: 14vw;
	margin-top: 0.1vw;
	position: absolute;
	float: left;
}

.icon_div a
{
	height: 3vw;
	width: 14vw;
	position: absolute;
}

.icon_div img
{
	height: 3vw;
	width: 14vw;
	margin-left: 0.75vw;
	position: absolute;
}

.headtittle_div
{
	height: 3vw;
	width: 32vw;
	margin-left: 37.6vw;
	margin-top: 0.15vw;
	position: absolute;
}

.headtittle_div li
{
	float: left;
	width: 8vw;
	height: 3vw;
	color: white;
	line-height: 3vw;
	text-align: center;
	list-style-type: none;
	font-size: 1.1vw;
}

.headtittle_div li:hover
{
	font-size: 1.25vw;
}

#now_page
{
	font-size: 1.25vw;
}

.else_div
{
	height: 3vw;
	width: 14vw;
	margin-top: 0.1vw;
	margin-left: 85.5vw;
	position: absolute;
}

.else_div li
{
	float: left;
	width: 14vw;
	height: 3vw;
	color: white;
	line-height: 3vw;
	text-align: center;
	list-style-type: none;
	font-size: 1.25vw;
}

.else_div li:hover
{
	font-size: 1.4vw;
}

.midall_div
{
	width: 100%;
	height: 160vw;
	background-color: #282828;
}

.button_div
{
	width: 40vw;
	height: 2vw;
	margin: auto;
	font-size: 0vw;
}

.leftbutton_div
{
	position: absolute;
}

.leftbutton_div input
{
	display: none;
}

.leftbutton_div img
{
	width: 12vw;
	height: 2vw;
	transition: all 0.6s;
	position: absolute;
}

.leftbutton_div img:hover
{
	-moz-transform: scale(1.2,1.2);
	-ms-transform: scale(1.2,1.2);
	-webkit-transform: scale(1.2,1.2);
	transform: scale(1.2,1.2);
}

.midbutton_div
{
	margin-left: 14vw;
	position: absolute;
}

.midbutton_div button
{
	display: none;
}

.midbutton_div img
{
	width: 12vw;
	height: 2vw;
	transition: all 0.6s;
	position: absolute;
}

.midbutton_div img:hover
{
	-moz-transform: scale(1.2,1.2);
	-ms-transform: scale(1.2,1.2);
	-webkit-transform: scale(1.2,1.2);
	transform: scale(1.2,1.2);
}

.rightbutton_div
{
	margin-left: 28vw;
	position: absolute;
}

.rightbutton_div img
{
	width: 12vw;
	height: 2vw;
	transition: all 0.6s;
	position: absolute;
}

.rightbutton_div img:hover
{
	-moz-transform: scale(1.2,1.2);
	-ms-transform: scale(1.2,1.2);
	-webkit-transform: scale(1.2,1.2);
	transform: scale(1.2,1.2);
}

.text_div
{
	margin-top: 1vw;
	height: 1.5vw;
	line-height: 1.5vw;
	font-size: 1.5vw;
	text-align: center;
	color: white;
}

.bigtext_div
{
	margin-top: 2vw;
	height: 2vw;
	line-height: 2vw;
	font-size: 2vw;
	text-align: center;
	color: white;
}

.draw_div
{
	margin-left: 32vw;
	margin-top: 17vw;
}

.draw_div canvas
{
	width: 36vw;
	height: 36vw;
	border-radius: 2vw;
	transition: all 0.6s;
	box-shadow: 0vw 0.3vw 0.2vw #161616;
}

.draw_div canvas:hover
{
	-moz-transform: scale(1.2,1.2);
	-ms-transform: scale(1.2,1.2);
	-webkit-transform: scale(1.2,1.2);
	transform: scale(1.2,1.2);
}

.fourchoice_div
{
	margin-top: 3vw;
	margin-left: 7vw;
	height: 18vw;
	font-size: 0vw;
}

.fourchoice_div img
{
	width: 16vw;
	height: 16vw;
	margin-left: 4vw;
	border-radius: 1vw;
	transition: all 0.6s;
}

.fourchoice_div img:hover
{
	-moz-transform: scale(1.2,1.2);
	-ms-transform: scale(1.2,1.2);
	-webkit-transform: scale(1.2,1.2);
	transform: scale(1.2,1.2);
}

.pic3by3_div
{
	width: 78vw;
	height: 78vw;
	margin-left: 8vw;
	margin-top: -1vw;
}

.pic1by3_div
{
	float: left;
	width: 22vw;
	height: 22vw;
	margin-top: 4vw;
	margin-left: 4vw;
	font-size: 0vw;
}

.pic1by3_div img
{
	width: 22vw;
	height: 22vw;
	border-radius: 1.8vw;
	transition: all 0.6s;
}

.pic1by3_div img:hover
{
	-moz-transform: scale(1.2,1.2);
	-ms-transform: scale(1.2,1.2);
	-webkit-transform: scale(1.2,1.2);
	transform: scale(1.2,1.2);
}

.declare_div
{
	width: 64vw;
	color: white;
	font-size: 1.5vw;
	margin-top: 9vw;
	margin-left: 18vw;
	line-height: 2.5vw;
	text-align: justify;
}

.declare_div h1
{
	margin-top: 5vw;
	margin-bottom: 5vw;
}

.declare_div h3
{
	margin-left: 4vw;
	transition: all 0.6s;
}

.declare_div h3:hover
{
	-moz-transform: scale(1.15,1.15);
	-ms-transform: scale(1.15,1.15);
	-webkit-transform: scale(1.15,1.15);
	transform: scale(1.15,1.15);
}

.game_div
{
	width: 33vw;
	height: 48vw;
	margin-top: 6vw;
	margin-left: 33.5vw;
	border-radius: 2vw;
	box-shadow: 0 0 1vw #eeeeee;
}

.game_div canvas
{
	margin-top: 1.5vw;
	margin-left: 1.5vw;
}

.fourty_div
{
	width: 90vw;
	height: 150vw;
	margin-left: 5vw;
	margin-top: 3vw;
}

.fivepic_div
{
	float: left;
	width: 90vw;
	height: 18vw;
	font-size: 0vw;
	margin-left: 0.5vw;
}

.fivepic_div img
{
	width: 14vw;
	height: 14vw;
	margin-top: 4vw;
	margin-left: 3vw;
	border-radius: 1vw;
	transition: all 0.6s;
	box-shadow: 0vw 0.3vw 0.2vw #161616;
}

.fivepic_div img:hover
{
	-moz-transform: scale(1.3,1.3);
	-ms-transform: scale(1.3,1.3);
	-webkit-transform: scale(1.3,1.3);
	transform: scale(1.3,1.3);
}

.downsix_div
{
	float: left;
	font-size: 0vw;
	margin-left: 2vw;
	margin-top: 3vw;
}

.downsix_div img
{
	width: 38vw;
	height: 38vw;
	margin-top: 10vw;
	margin-left: 6vw;
	border-radius: 1vw;
	box-shadow: 0vw 0.3vw 0.2vw #161616;
}

.downall_div
{
	width: 100%;
	height: 25vw;
}

.downall_div img
{
	width: 100%;
	height: 25vw;
}